<a href="https://colab.research.google.com/github/Saividya5009/assignment-7/blob/master/assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.caluculate length of a string

In [4]:
len("good morning")

12

2.count the no of charecters in a string.

In [52]:
s="lovely day"
count={}
for k in s:
  if k in count:
    count[k]=count[k]+1
  else:
    count[k]=1
print("the count of all charecters are:",str(count))

the count of all charecters are: {'l': 2, 'o': 1, 'v': 1, 'e': 1, 'y': 2, ' ': 1, 'd': 1, 'a': 1}

3.to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [14]:
def char(a,b):
  A=b[:2]+a[2:]
  B=a[:2]+b[2:]
  return A +" "+ B
print(char('123','xyz'))

xy3 12z

4.	Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [18]:
s=str(input("enter the string"))
print(s.upper())
print(s.lower())

enter the stringsaiVIdya
SAIVIDYA
saividya

5.Write a Python program to remove a newline in Python

In [22]:
s="sai vidya"
print(s)
print(s.rstrip())

sai vidya
sai vidya

6.Write a Python program to count occurrences of a substring in a string

In [24]:
s="twinkle twinkle little star"
sub="twinkle"
print(s)
print(s.count("twinkle"))

twinkle twinkle little star
2

7.	Write a Python program to convert a string in a list.

In [26]:
def string(s):
  L=list(s.split(" "))
  return L
s="johnny johnny yes papa"
print(string(s))

['johnny', 'johnny', 'yes', 'papa']

8.	Write a Python program to perform Deletion of a character

In [28]:
s="xyzaaa123"
print(s.replace('a',""))

xyz123

9.	Write a program to print every character of a string entered by user in a new line using loop.

In [35]:
s=str(input("enter the string"))
for i in s:
  print(i)

enter the stringvidya
v
i
d
y
a

10.	Write a program to find the length of the string "refrigerator" without using len function

In [36]:
count=0
s="refrigerator"
for i in s:
  count=count+1
print(count)

12